streamlit
pandas
numpy
scikit-learn
shap
matplotlib
pydantic
python-dotenv
reportlab
openpyxl
rapidfuzz
Unidecode
plotly

fairlearn
azure-identity
azure-keyvault-secrets
azure-storage-blob
opencensus-ext-azure
